ion-button{
    --border-radius: 10px;
    --color:#00679c!important;
}

ion-input{
    --border-radius: 10px;
    --background: white;
}

ion-content{
    --ion-background-color:#00679c;
}

.inputs{
    border-radius: 10px;
    margin-bottom: 20px;
}